header{
background: url(images/bg.png) no-repeat fixed center;
background-size: 100% 100%;
height: 650px;
}
#header{
width: 1100px;
margin: 0px auto;
}
.header{
padding-top: 40px;
}
.logo{
width: 103px;
height: 56px;
float: left;
}
.menu{
float: right;
}
.menu ul{
display: flex;
padding-top: 10px;
}
.menu li{
padding: 10px 0px;
}
.menu li a{
font-size: 14px;
color: #fff;
font-weight: 400;
padding: 10px 12px;
transition: .1s;
}
.menu li a:hover{
color: #FD78A5;
transition: .1s;
}
.menu-cizgi{
float: right;
height: 3px;
margin-top: 10px;
margin-right: 12px;
width: 20px;
background: #F72970;
}
.slider{
height: 450px;
width: 390px;
display: table;
}
.sicerik{
display: table-cell;
vertical-align: middle;
text-align: right;
}
.sicerik span{
line-height: 55px;
font-size: 34px;
color: #fff;
font-weight: 100;
}
.sicerik span b{
font-weight: 600;
}
.sicerik p{
font-size: 16px;
padding-top: 20px;
padding-bottom: 30px;
color: #b6b8f7;
text-align: right;
font-weight: 300;
}
.sbuton{
float: right;
width: 240px;
height: 54px;
background: #6f72e6;
border-radius: 75px;
border: 3px solid #fff;
text-align: center;
line-height: 54px;
}
.sbuton a{
display: block;
color: #fff;
font-size: 15px;
font-weight: 600;
transition: .1s;
}
.sbuton a:hover{
background: #e91e63;
transition: .1s;
border-radius: 75px;
}
#body{
display: block;
}
.standart{
width: 1100px;
margin: 0px auto;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
}
.kimiz{
background: #fff;
}
.baslik span{
font-size: 24px;
color: #3134ac;
font-weight: 700;
}
.baslikcizgi{
width: 10%;
height: 5px;
background: #e5f168;
margin: 0px auto;
margin-top: -13px;
border-radius: 35px;
}
.kmetin{
padding-top: 30px;
padding-bottom: 30px,
}
.kmetin p{
font-size: 18px;
font-weight: 300;
color: #86879e;
line-height: 35px;
padding:0px 150px;
}
.kmetin p b{
font-weight: 400;
}
.kbuton{
width: 240px;
height: 54px;
background: #6569e3;
border-radius: 75px;
text-align: center;
line-height: 54px;
margin: 0px auto;
margin-top: 30px;
}
.kbuton a{
display: block;
color: #fff;
font-size: 15px;
font-weight: 600;
transition: .1s;
}
.kbuton a:hover{
background: #e91e63;
transition: .1s;
border-radius: 75px;
}
.yaptik{
background: #f1f1ff;
}
.bsol{
float: left;
margin-left: 140px;
margin-top: 230px;
}
.bsag{
float: right;
margin-right: 140px;
margin-top: 230px;
}
.bbg{
background: url(images/bbg.png);
width: 695px;
height: 505px;
position: relative;
margin: 0px auto;
margin-top: 30px;
z-index: 1;
}
.bbg img{
width: 695px;
height: 474px;
padding-top: 30px;
}
.siteadresi{
position: absolute;
z-index: 2;
font-size: 10px;
color: #666666;
margin-top: 40px;
margin-left: 60px;
}
.siteadresi span{
color: #b3b3b3;
}
.btext{
padding: 20px;
padding-bottom: 0px;
}
.btext a{
color: #4044c7;
font-size: 16px;
font-weight: 600;
transition: .1s;
}
.btext a:hover{
color: #2c30ae;
transition: .1s;
}
.btext p{
color: #a8a8a8;
padding-top: 10px;
font-size: 13px;
}
.beraber{
background: #fff;
}
.beraber .bicerik{
display: flex;
width: 860px;
margin: 0px auto;
}
.bberaber{
font-size: 20px;
color: #636363;
font-weight: 100;
line-height: 54px;
}
.bbuton1{
width: 230px;
height: 54px;
margin-left: 30px;
background: #fff;
border-radius: 75px;
text-align: center;
border: 1px solid #ddd;
line-height: 54px;
}
.bbuton1 a{
display: block;
color: #5659bf;
font-size: 15px;
font-weight: 600;
transition: .1s;
}
.bbuton1 a:hover{
background: #e5e5e5;
transition: .1s;
border-radius: 75px;
}
footer{
background: #383838 repeat-x;
}
.footer{
width: 1100px;
margin: 0px auto;
padding-top: 32px;
padding-bottom: 25px;
}
.flogo{
float: left;
}
.fsosyal{
float: right;
}
.fsosyal ul{
display: flex;
padding-top: 4px;
}
.fsosyal li a{
padding: 5px 8px;
color: #b7b7b7;
font-size: 14px;
transition: .1s;
}
.fsosyal a:hover{
color: #dfdfdf;
transition: .1s;
}
.fsosyal li{
padding: 5px 0px
}
.slider{
padding-left: 30px;
padding-bottom: 140px;
}
.slider ul{
display: flex;
}
.slider li{
position: absolute;
}
